*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: 'Nunito', sans-serif;
    color: white;
}


@keyframes background {
    0%{
      background-color: #26d826;
    }
    25%{
      background-color: green;
    }
    50%{
      background-color: #26d826;
    }
    75%{
      background-color: rgb(13, 107, 13);
    }
    100%{
      background-color: #26d826;
    }
  }
  